# Ajustes de Content Security Policy
<IfModule mod_headers.c>
    Header set Content-Security-Policy "
        default-src 'self'; 
        script-src 'self' 'unsafe-inline' 'unsafe-eval' localhost http://localhost/biamistral/js/ https://code.jquery.com https://cdn.jsdelivr.net https://stackpath.bootstrapcdn.com https://www.paypal.com https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/ https://cdn.tailwindcss.com; 
        connect-src 'self' https://api.paypal.com; 
        img-src 'self' data: https://www.paypalobjects.com https://example.com;  # Añade cualquier otra URL de imagen aquí
        frame-src 'self' https://www.paypal.com https://www.sandbox.paypal.com https://frontminers.substack.com; 
        font-src 'self' https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/ https://fonts.gstatic.com; 
        style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://stackpath.bootstrapcdn.com https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/ https://fonts.googleapis.com;
    "
</IfModule>
